<div class="hero-banner h-screen-w-full">
	<div class="hero-banner-wrapper">
		<!-- <a href="/">
			<h1 class="headline text-center text-5xl tracking-widest text-primary lg:text-6xl xl:text-7xl 2xl:text-8xl">MVAHOUSE</h1>
		</a> -->
		<div class="hero-banner-bg">
			<div class="hero-banner-bg-shadow"></div>
		</div>
		<app-public-header></app-public-header>
		<div class="wrapper mt-32">
			<h1 class="headline text-5xl lg:text-6xl xl:text-8xl">MVAHOUSE</h1>
			<h1 class="headline text-3xl lg:text-4xl xl:text-6xl">CAPITAL</h1>
		</div>
		<!-- <app-search-form></app-search-form> -->
	</div>
</div>
