.hero-banner {
	@apply grid min-h-screen w-full;
	backdrop-filter: invert(1);
}
.hero-banner-wrapper {
	@apply flex h-full flex-col;
}
.hero-banner-wrapper .headline {
	@apply uppercase tracking-widest text-primary;
}
.hero-banner-bg {
	@apply absolute top-0 h-full w-full overflow-hidden bg-cover bg-left bg-no-repeat xl:bg-contain xl:bg-right;
	z-index: -1;
}
.hero-banner-bg-shadow {
	width: 200%;
	height: 200%;
	box-shadow: inset 75px 125px 250px 30px #000;
	@apply xl:hidden;
}

.intro-section {
	@apply bg-white;
}
.intro-section:last-child {
	@apply pb-20;
}
.intro-container {
	@apply flex pt-40 pb-20;
}
.intro-content {
	@apply mx-auto grid max-w-5xl gap-8 text-center;
}
.intro-title {
	@apply text-6xl uppercase;
}
.intro-subtitle {
	@apply text-xl font-semibold uppercase;
}
.intro-description {
	@apply mx-auto max-w-2xl text-xl;
}
.intro-carousel-rooms {
	@apply bg-body py-8;
}
.intro-carousel-room {
	@apply px-4;
}
