.intro-wrapper .headline {
	font-family: OPTIBerling-Agency;
}
.intro-bg {
	height: 36rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("/assets/images/mvahouse.jpg");
}
