<app-header>
	<div class="wrapper px-6 py-4">
		<div class="flex">
			<a href="/#">
				<div class="flex gap-4">
					<img src="./assets/images/logo.png" alt="logo" class="aspect-square h-10" />
					<span class="my-auto text-2xl font-semibold text-body">{{ hotelDetails.title }}</span>
				</div>
			</a>
			<div class="ml-auto hidden gap-8 lg:flex">
				<app-change-language></app-change-language>
				<app-shared-button-book [styleClass]="'bg-white'">BOOK NOW</app-shared-button-book>
			</div>
		</div>
	</div>
</app-header>
