.sf {
	display: flex;
	width: auto;
	@apply mx-0 -mt-8 h-16 gap-1 rounded-sm bg-primary p-1 lg:mx-16;
}
.sf__group {
	cursor: pointer;
	@apply flex rounded-sm bg-white;
}
.sf__group-inner {
	display: flex;
	@apply my-auto px-6;
}
.sf__group-icon {
	@apply pr-2 text-xl;
}
.sf__group-display {
	@apply my-auto w-max font-semibold text-gray-800;
}
//button
.sf__button {
	display: flex;
	@apply bg-secondary;
}
.sf__button-display {
	@apply text-white;
}

//dates
.sf__dates__divider {
	display: flex;
	@apply px-2;
}
.sf__dates__divider-division {
	margin: auto 0;
	width: 10px;
	height: 1px;
	@apply bg-gray-400;
}
.dates-picker {
	display: flex;
	width: 100%;
	height: 100%;
}
.dates-picker input#dates-picker {
	width: 0px;
	height: 0px;
	overflow: hidden;
}
.dates-picker label {
	width: 100%;
	height: 100%;
}
