.sf {
	width: auto;
	@apply mx-0 -mt-8 block rounded-sm lg:mx-16 lg:flex lg:h-16;
}
.sf__group {
	@apply flex cursor-pointer select-none bg-white;
}
.sf__group:not(:first-child) {
	@apply border-l-2 border-l-secondary;
}
.sf__group-wrapper {
	@apply flex w-full;
}
.sf__group-inner {
	display: flex;
	@apply my-auto w-full px-6;
}
.sf__group-wrapper:hover > .sf__group-inner .sf__group-display,
.sf__group-wrapper:hover > .sf__group-inner .sf__group-icon > fa-icon,
.sf__group .sf__datespicker:hover > .sf__datespicker-label .sf__group-inner .sf__group-icon fa-icon,
.sf__group .sf__datespicker:hover > .sf__datespicker-label .sf__group-inner .sf__datespicker-display-wrapper .sf__datespicker-display {
	@apply text-secondary-hover;
}
.sf__group .sf__datespicker:hover > .sf__datespicker-label .sf__group-inner .sf__datespicker__divider-wrapper .sf__datespicker__divider {
	@apply bg-secondary-hover;
}
.sf__group-icon {
	@apply flex pr-4 text-xl;
}
.sf__group-icon fa-icon {
	@apply my-auto text-secondary;
}
.sf__group-display,
.sf__datespicker-display,
.sf__button-display {
	@apply my-auto w-max font-semibold text-secondary;
}
//button
.sf__button {
	display: flex;
	@apply bg-primary;
}
.sf__button:hover {
	@apply bg-primary-hover;
}
.sf__button-display {
	@apply text-white;
}

//dates
.sf__datespicker {
	display: flex;
	width: 100%;
	height: 100%;
}
.sf__datespicker input#dates-picker {
	width: 0px;
	height: 0px;
	overflow: hidden;
}
.sf__datespicker label {
	width: 100%;
	height: 100%;
}
.sf__datespicker__divider-wrapper {
	display: flex;
	@apply px-2;
}
.sf__datespicker__divider {
	margin: auto 0;
	width: 10px;
	height: 1px;
	@apply bg-secondary;
}
//stepper
.sf__stepper {
	@apply flex select-none;
}
.sf__stepper:not(:first-child) {
	@apply pt-2;
}
.sf__stepper__name {
	@apply flex pr-4;
}
.sf__stepper__name-wrapper {
	@apply my-auto;
}
.sf__stepper__name-title {
	@apply font-semibold;
}
.sf__stepper__name-subtitle {
	@apply leading-none;
}
.sf__stepper__factor {
	@apply ml-auto flex;
}
.sf__stepper__factor-wrapper {
	@apply my-auto flex;
}
.sf__stepper__factor__display-wrapper {
	@apply flex w-12;
}
.sf__stepper__factor__display {
	@apply m-auto text-xl text-primary;
}
.sf__stepper__factor__button {
	@apply flex h-11 w-11 cursor-pointer rounded-sm border-2 border-secondary text-secondary;
}
.sf__stepper__factor__button:hover {
	@apply border-secondary-hover text-secondary-hover;
}
.sf__stepper__factor__button i {
	@apply m-auto;
}
