.sf {
	@apply mx-0 w-auto rounded-2xl bg-white py-4;
}
.sf__group {
	@apply flex cursor-pointer select-none;
}
.sf__group-wrapper {
	@apply flex w-full;
}
.sf__group-inner {
	@apply my-auto flex w-full px-6 py-4;
}
.sf__group-wrapper:hover > .sf__group-inner .sf__group-display,
.sf__group-wrapper:hover > .sf__group-inner .sf__group-icon > fa-icon,
.sf__group .sf__datespicker:hover > .sf__datespicker-label .sf__group-inner .sf__group-icon fa-icon,
.sf__group .sf__datespicker:hover > .sf__datespicker-label .sf__group-inner .sf__datespicker-display-wrapper .sf__datespicker-display {
	@apply text-secondary-hover;
}
.sf__group .sf__datespicker:hover > .sf__datespicker-label .sf__group-inner .sf__datespicker__divider-wrapper .sf__datespicker__divider {
	@apply bg-secondary-hover;
}
.sf__group-icon {
	@apply flex pr-4 text-xl;
}
.sf__group-icon fa-icon {
	@apply my-auto text-secondary;
}
.sf__group-display,
.sf__datespicker-display {
	@apply my-auto w-max font-semibold text-secondary;
}
.sf__group-display,
.sf__datespicker-display,
.sf__button-display {
	@apply text-base lg:text-[17px];
}
.sf__button {
	@apply px-4 pt-2;
}
.sf__button-display {
	@apply h-full w-full py-2 font-semibold;
}
//dates
.sf__datespicker {
	// width: 255px;
	@apply flex h-full w-full;
}
.sf__datespicker input#dates-picker {
	width: 0px;
	height: 0px;
	@apply overflow-hidden;
}
.sf__datespicker label {
	@apply h-full w-full;
}
.sf__datespicker__divider-wrapper {
	@apply flex px-2;
}
.sf__datespicker__divider {
	width: 10px;
	height: 1px;
	@apply my-auto bg-secondary;
}
//stepper
.sf__stepper {
	@apply flex select-none;
}
.sf__stepper:not(:first-child) {
	@apply pt-2;
}
.sf__stepper__name {
	@apply flex pr-4;
}
.sf__stepper__name-wrapper {
	@apply my-auto;
}
.sf__stepper__name-title {
	@apply font-semibold;
}
.sf__stepper__name-subtitle {
	@apply leading-none;
}
.sf__stepper__factor {
	@apply ml-auto flex;
}
.sf__stepper__factor-wrapper {
	@apply my-auto flex;
}
.sf__stepper__factor__display-wrapper {
	@apply flex w-12;
}
.sf__stepper__factor__display {
	@apply m-auto text-xl text-primary;
}
.sf__stepper__factor__button {
	@apply flex h-11 w-11 cursor-pointer rounded-sm border-2 border-secondary text-secondary;
}
.sf__stepper__factor__button:hover {
	@apply border-secondary-hover text-secondary-hover;
}
.sf__stepper__factor__button i {
	@apply m-auto;
}
