@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "OPTIBerling-Agency";
	src: url("/assets/fonts/OPTIBerling-Agency.ttf.woff") format("woff"), url("/assets/fonts/OPTIBerling-Agency.ttf.svg#OPTIBerling-Agency") format("svg"), url("/assets/fonts/OPTIBerling-Agency.ttf.eot"), url("/assets/fonts/OPTIBerling-Agency.ttf.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}

@layer base {
	body {
		background: #fefdf5;
		@apply font-sans;
	}
}

@layer components {
	.responsive-overlay {
		@apply rounded-md bg-white p-4 shadow-md;
	}
}

.wrapper {
	@apply mx-auto max-w-7xl px-4;
}
